<div class="form-group">
    <label for="">{{ label }}</label>
    <input type="number" class="form-control" name="{{ name }}" value="{{ value }}" {{ ext }} />
    <span class="error">{{ errorFor(name) }}</span>
</div>