<div class="form-group">
    <label for="">{{ label }}</label>
    <select class="form-control" name="{{ name }}" {{ ext }} >
        @each(item in list)
            <option value="{{ item[cfg[0]] }}"
            @if(value && item[cfg[0]] == value)
                selected
            @endif
            >{{ item[cfg[1]] }}</option>
        @endeach
    </select>
    <span class="error">{{ errorFor(name) }}</span>
</div>