@layout('layouts.admin')

@section('title')
  Sửa Danh Mục Khóa Học
@endsection

@section('content')
  @component('components.box.editBox', name = 'Sửa Danh Mục Khóa Học',actionBack = route('admin.category_posts.index'), action = route('admin.category_courses.update', { id : item.id })+'?_method=PUT', csrf = csrfField() )
   {{{  formText('name','Tên', item.name)  }}}
  @endcomponent
@endsection 