<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trang Quản Lý |  </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
    {{ css('/admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}
    <!-- Font Awesome -->
    {{ css('/admin/bower_components/font-awesome/css/font-awesome.min.css') }}
    <!-- Ionicons -->
    {{ css('/admin/bower_components/Ionicons/css/ionicons.min.css') }}
    <!-- Theme style -->
    {{ css('/admin/css/AdminLTE.min.css') }}
    <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
    {{ css('/admin/css/skins/_all-skins.min.css') }}

    {{ css('/admin/bower_components/select2/dist/css/select2.min.css') }}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js') }}
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js') }}
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
    <style>
        .form-action {
            width: 100px;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
          color: black;
        }
        .list-images {
            padding: 5px;
        }

        .list-images > div{
            border: solid 1px;
            text-align: center;
            padding: 5px;
            margin: 0px;
        }

        .list-images > button{
            position: relative;
            top: -27px;
            left: 0px;
        }
        span.error {
          color: red;
        }
    </style>
    <script>
      window.csrf_token = '{{ csrf_token }}';

    </script>
    @!section('style') 
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>IT</b>E</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>ITE</b>News</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        @include('partials.admin.menu')
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      @include('partials.admin.sidebar')
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        @!section('title')
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang Chủ</a></li>
        @!section('breadcrumb')
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        @!section('content')
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
{{ script('/admin/bower_components/jquery/dist/jquery.min.js') }}
<!-- Bootstrap 3.3.7 -->
{{ script('/admin/bower_components/bootstrap/dist/js/bootstrap.min.js') }}
<!-- SlimScroll -->
{{ script('/admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js') }}
<!-- FastClick -->
{{ script('/admin/bower_components/fastclick/lib/fastclick.js') }}
{{--    --}}
{{ script('/admin/bower_components/select2/dist/js/select2.full.min.js') }}
<!-- AdminLTE App -->
{{ script('/admin/js/adminlte.min.js') }}
<!-- AdminLTE for demo purposes -->
{{ script('/admin/js/demo.js') }}
{{ script('/admin/js/notify.min.js') }}
<script>
  $('.sidebar-menu').tree();
  $('select').select2();
  $('input[name="_csrf"]').map(function(i, item) {
    var val = $(item).val();
    if (val.length == 0) {
      $(item).val('{{ csrfToken}}')
    }
  })
  $('form.delete').submit(function() {
    return confirm("Bạn Có Muốn Xóa bản Ghi này");
  })
  $(document).ready(function(){
    @if(flashMessage('notification'))
      $('.box').notify('{{ flashMessage('notification') }}', {
        position: 'top',
        className: '{{ flashMessage('type') }}'
      });
    @endif
  });

</script>
 @!section('script') 
</body>
</html>
